<!DOCTYPE html>
<html lang="hu">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherApp</title>
    <link rel="stylesheet" href="/public/style.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <!-- Már régóta ki akartam próbálni az EJS-t és úgy gondoltam ez egy jó alkalom rá. -->
    
    <!-- Ha talált adatot -->
    <div class="container mt-4 col-lg-5">
      <!-- Title -->
    <h4 class="font-weight-bold">Melyik város időjárását szeretnéd megtekinteni?</h4>

      <!-- Város gombok -->
      
      <div class="mt-3 text-center">       
        <a class="btn btn-primary btn-lg btn-block" href="/Budapest">Budapest</a>
        <a class="btn btn-primary btn-lg btn-block" href="/Győr">Győr</a>
        <a class="btn btn-primary btn-lg btn-block" href="/Debrecen">Debrecen</a>
        <a class="btn btn-primary btn-lg btn-block" href="/Miskolc">Miskolc</a>
        <a class="btn btn-primary btn-lg btn-block" href="/Pécs">Pécs</a>
        <a class="btn btn-primary btn-lg btn-block" href="/Sopron">Sopron</a>
        <a class="btn btn-primary btn-lg btn-block" href="/Szeged">Szeged</a>
        <a class="btn btn-primary btn-lg btn-block" href="/Gyékényes">Gyékényes</a>
      </div>
    <script src="https://kit.fontawesome.com/ad862d8e11.js" crossorigin="anonymous">
    
    </script>
  </body>

</html>
